{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Stevany Love PPW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="{% static 'js/theme.js' %}" type="text/javascript" rel="script"></script>
    <style>
        .errorlist {
            display: none;
        }
    </style>

</head>
<body id="landingpage">

<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

{% include "navbar.html" %}

<div class="main-container" id="main">
    <h1 align="center" class="judul-utama" id="judul_utama">Hello! Apa Kabar?</h1>
    <div class="form-section">
        <form class="form-input" action="/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form }}
            </div>
            <div class="counter-group">
                <div class="counter-div">
                    <p id="counter"></p>
                </div>
                <div class="submit-button">
                    <input class="submit" type="submit" value="Post" id="id_submit">
                </div>
            </div>
        </form>
        <button class="submit" id="change_theme_button"> Change Theme</button>
    </div>
    <div class="result">
        <h1 align="center" class="sub-judul" id="sub_judul">Status</h1>
        {% for field in result %}
            <div class="result-box">
                <p class="date"><i class="fas fa-calendar-alt"> </i>{{ field.created_at }}</p>
                <p class="result-text"><i class="fas fa-comment-alt"></i>{{ field.status }}</p>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>