{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stevany Love PPW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="{% static 'js/subscribe.js' %}" type="text/javascript" rel="script"></script>
</head>
<body onload="renderResult()">

{% include "navbar.html" %}

<div class="background_register">
    {% csrf_token %}
    <div id="res" class="result">
    </div>
</div>

</body>
<script>
    function renderResult() {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();

        $.ajax({
            method: 'POST',
            url: '../../subscribe/getDataSubscribe/',
            headers: {
                "X-CSRFToken": csrftoken
            },
            success: function (result) {
                var length_arr = result.listDataSubscribe.length;
                var data = result.listDataSubscribe;
                for (var i = 0; i < length_arr; i++) {
                    var name = data[i]['nama'];
                    var email = data[i]['email'];
                    var button = '<button class="btn" id=' + email + ' onclick=unsubscribe(this)>' + 'UNSUBSCRIBE' + '</button>';
                    var show = '<div class = "hasil">' + name + " " + email + button + '</div>' ;
                    var container = '<div>' + show + '</div>';
                    $('.result').append(container)
                }
            }
        })
    }

    function unsubscribe(t) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var email = t.id;
        $.ajax({
            method: 'POST',
            url: "{% url 'delete' %}",
            headers: {
                "X-CSRFToken": csrftoken
            },
            data: {email: email},
            success: function (res) {
                console.log('success');
                $('#res').replaceWith("<div id='res' class='result'></div>");
                var length_arr = res.now.length;
                var data = res.now;
                for (var i = 0; i < length_arr; i++) {
                    var name = data[i]['nama'];
                    var email = data[i]['email'];
                    var button = '<button class="btn" id=' + email + ' onclick=unsubscribe(this)>' + 'UNSUBSCRIBE' + '</button>';
                    var show = '<div class = "hasil">' + name + " " + email + button + '</div>' ;
                    $('.result').append(show)
                }
            }
        })
    }
</script>
</html>