{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stevany Love PPW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="{% static 'js/subscribe.js' %}" type="text/javascript" rel="script"></script>
</head>
<body>

{% include "navbar.html" %}

<div class="background_register">
    <div class="container_form">
        <h1 align="center" class="judul_utama_subscribe"><strong> Hi guys! Subscribe here! </strong></h1>
        <div align="center" class="sub_judul_subscribe"> Please complete form below :)</div>
        <div class="form_section">
            <form class="form_input" method="POST">
                {% csrf_token %}
                <div class="form_group">
                    <div id="form_subscribe" class="form_data">
                        {{ form.nama }}
                        <div id = "form_nama" class = "alert"> *Name is required </div>
                    </div>
                    <div class="form_data">
                        {{ form.email }}
                        <div id = "form_email" class = "alert"> *Valid email is required </div>
                        <div id = "form_email2" class = "alert"> *Email already registered </div>
                    </div>
                    <div class="form_data">
                        {{ form.password }}
                        <div id = "form_password" class = "alert"> *Password is required </div>
                    </div>
                </div>
                <div class="button_subscribe">
                    <input class="submit" type="submit" id="submit_subscribe" value="SUBSCRIBE">
                </div>
                <div class="result_data">  <a class="result_subscribe" href="{% url 'result' %}"> Subscriber </a> </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>