<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stevany Love PPW</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/theme.js' %}" type="text/javascript" rel="script"></script>
</head>
<body>
{% include "navbar.html" %}

<div class="background1">
    <div class="container1" id="header">
        <div class="title1" id="main_title">STEVANY</div>
        <div class="title2" id="sub_title">UI/UX Designer & Web Developer</div>
        <div class="img_hany" id="hany_picture"><img src="{% static 'media/foto_hany.png' %}" alt="Foto Hany"></div>
    </div>
</div>

<div id="accordion" class="accordion">
    <h3>Education</h3>
    <div class="education">
        <div class="container5">
            <div class="contentbox education1">
                <p class="instansi"> SD Harapan Bunda</p>
                <p class="year"> 2005 - 2011</p>
            </div>
            <div class="contentbox education2">
                <p class="instansi"> SMPK 6 Penabur</p>
                <p class="year"> 2011 - 2014</p>
            </div>
            <div class="contentbox education3">
                <p class="instansi"> SMAK 6 Penabur</p>
                <p class="year"> 2014 - 2017</p>
            </div>
            <div class="contentbox education4">
                <p class="instansi"> University of Indonesia</p>
                <p class="year"> 2017 - Present</p>
            </div>
            <p class="quotes"> “Education is the passport to the future” </p>
        </div>
    </div>
    <h3>Journey</h3>
    <div>
        <div class="container3">
            <div class="webdev">
                <img class="imgjourney" src="{% static 'media/img1.png' %}">
                <div class="isijourney_kiri">
                    <p class="juduljourney"> Web Design and Programming</p>
                    <p class="keterangan"> Computer Science, University of Indonesia | Sep - Dec 2018</p>
                    <p class="subjuduljourney"> Learn designing website with HTML5 and CSS. Understand and adjust the
                        rules
                        of interface design.
                    </p>
                </div>
            </div>
            <div class="ruangguru">
                <div class="isijourney_kanan">
                    <p class="juduljourney"> UI/UX Designer Internship, Ruangguru </p>
                    <p class="keterangan"> Ruangguru, Tebet | Jun - Aug 2018 </p>
                    <p class="subjuduljourney"> I start to learned principle of user interface and experience. I learned
                        how
                        to design attractive and useful mockup for mobile apps and website. The process of the design
                        from
                        analyze the problems, design wireframe, make prototype, and do user testing.
                    </p>
                </div>
                <img class="imgjourney" src="{% static 'media/img2.png' %}">
            </div>
            <div class="visdes">
                <img class="imgjourney" src="{% static 'media/img3.png' %}">
                <div class="isijourney_kiri">
                    <p class="juduljourney"> Visual Design Division, COMPFEST X </p>
                    <p class="keterangan"> Computer Science, University of Indonesia | Feb - Sep 2018 </p>
                    <p class="subjuduljourney"> Designing mockup for COMPFEST X’s website in a team. Designing banner,
                        id
                        card, que card, etc.
                    </p>
                </div>
            </div>
            <div class="ristek">
                <div class="isijourney_kanan">
                    <p class="juduljourney"> Digital Product Design Class, RISTEK </p>
                    <p class="keterangan"> Computer Science, University of Indonesia | Oct 2018 </p>
                    <p class="subjuduljourney"> First time know about user interface and user experience. I learn
                        designing
                        mockup for mobile apps with figma from digital product design senior members.
                    </p>
                </div>
                <img class="imgjourney" src="{% static 'media/img4.png' %}">
            </div>
        </div>
    </div>
    <h3> Achievement </h3>
    <div class="education">
        <div class="container5">
            <div class="contentbox education1">
                <p class="instansi"> Photography</p>
                <p class="year"> 1st - SMAK 4</p>
            </div>
            <div class="contentbox education2">
                <p class="instansi"> Short Movie</p>
                <p class="year"> 2nd - IPEKA Pluit</p>
            </div>
            <div class="contentbox education3">
                <p class="instansi"> Short Movie</p>
                <p class="year"> 2nd - Jakarta Utara</p>
            </div>
            <p class="quotes"> “Great achievement is usually born of great sacrifice” </p>
        </div>
    </div>
</div>
</body>
</html>