<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-left">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar -->
    <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profil' %}">PROFILE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'subscribe' %}">SUBSCRIBE</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">LOGIN LIBRARY</a>
            </li>
        </ul>
    </div>
</nav>