{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id"
          content="683474037849-l2e61u9ust23uoktersm50suqclc3lon.apps.googleusercontent.com">
    <title>Stevany Love PPW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>

</head>
<body>
{% include "navbar.html" %}

{% csrf_token %}

<div id="books-container" class="container">
    <h1 id="title" align="center">Hany's Library</h1>
    <h3> Hello, {{ nama }} !</h3>
    <div class="signout"><a href="{% url 'logout' %}" onclick="signOut()">Sign out</a></div>
    <div class="container-button">
        <button class="kategori" id="quilting"> Quilting</button>
        <button class="kategori" id="programming"> Programming</button>
        <button class="kategori" id="architecture"> Architecture</button>
    </div>
    <h4 class="favorited"><i class="star"></i>Favorited Books: <span id="counter">{{ count }}</span></h4>
    <table id="table" class="table table-hover table-striped">
        <thead class="thead-light">
        <tr align="center">
            <th>Title</th>
            <th>Author</th>
            <th>Published Date</th>
            <th><img width="25" height="25" src="{% static 'media/favorite.png' %}"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="{% static 'js/book.js' %}" type="text/javascript" rel="script"></script>
<script src="{% static 'js/login.js' %}"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</body>
</html>