#landingpage {
    overflow: hidden;
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
}

#status {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #ff7676; /* Pink */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body #ui-id-2 {
    height: auto !important;
}

body #ui-id-4 {
    height: auto !important;
}

body #ui-id-6 {
    height: auto !important;
}

.accordion {
    padding-top: 3rem;
}

.ui-state-active {
    border: 1px solid #ff7676;
    background: #F99A9C;
    font-weight: normal;
    color: #ffffff;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #313131;
}

.judul-utama {
    padding-top: 7rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
}

.judul-utama-change {
    color: white;
    padding-top: 7rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
}

.sub-judul {
    padding-top: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
}

.sub-judul-change {
    color: white;
    padding-top: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group, .result-box {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 100%;
}

.main-container {
    background-image: linear-gradient(to bottom right, #FECAD7, #F99393);
    width: 100vw;
    height: auto;
    padding-bottom: 2rem;
}

.main-container-change {
    background-image: linear-gradient(to bottom right, #4A0057, #27064D);
    width: 100vw;
    padding-bottom: 2rem;
}

.result-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 360px;
    height: 160px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
}

.submit {
    margin-top: 1rem;
    border: solid;
    border-color: #ff7676;
    border-radius: 16px;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ff7676;
    font-size: 20px;
    text-align: center;
    width: 200px;
}

.submit-change {
    margin-top: 1rem;
    border: solid;
    border-color: #BEA0CD;
    border-radius: 16px;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    color: #934FB8;
    font-size: 20px;
    text-align: center;
    width: 200px;
}

.submit:hover {
    color: #ff7676;
    background-color: #ff7676;
    color: white;
}

.submit-change:hover {
    color: #BEA0CD;
    background-color: #BEA0CD;
    color: white;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.container1 {
    padding-top: 40px;

}

.background1 {
    padding-top: 56px;
    background: url("../media/background.1b8b9a21c362.png");
    background-size: cover;
    height: 640px;
}

.title1 {
    display: block;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    width: auto;
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313131;
}

.title2 {
    display: block;
    margin: auto;
    padding-top: 12px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    width: auto;
    font-size: 28px;
    font-weight: bolder;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #414141;
}

.img_hany {
    margin: auto;
    padding-top: 160px;
    width: 280px;
    height: 280px;
    object-fit: contain;
}

.container2 {
    padding-top: 80px;
}

.title3 {
    display: block;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    width: 152px;
    height: 45px;
    font-size: 36px;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313131;
}

.separator1 {
    width: 180px;
    height: 4px;
    background-color: #ff7676;
}

.container3 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin: 4rem auto 3rem;
    background-color: white;
    background-size: cover;
    height: auto;
    flex-wrap: wrap;
}

.isijourney_kiri {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 24px
}

.isijourney_kanan {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 18px
}

.juduljourney {
    margin-bottom: 0.2rem;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #313131;
}

.keterangan {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #575757;
}

.subjuduljourney {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #313131;
}

.imgjourney {
    width: 120px;
    height: 120px;
}

.webdev {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 120px;
    margin: 3rem 0;
    align-items: center;
}

.ruangguru {
    display: flex;
    flex-direction: row;
    width: 740px;
    height: 140px;
    margin: 3rem 0;
    align-items: center;
}

.visdes {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 120px;
    margin: 3rem 0;
    align-items: center;
}

.ristek {
    display: flex;
    flex-direction: row;
    width: 740px;
    height: 140px;
    margin: 3rem 0;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .webdev {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        flex-direction: column;
        margin-bottom: 40%;
    }

    .visdes {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        flex-direction: column;
        margin-bottom: 50%;
    }

    .ruangguru, .ristek {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        flex-direction: column-reverse;
        margin-bottom: 55%;
    }

    .isijourney_kiri {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 0;
        margin-top: 0.5rem;
    }

    .isijourney_kanan {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-right: 0;
        margin-top: 0.5rem;
    }

    .juduljourney, .subjuduljourney, .keterangan {
        text-align: center;
    }

    .imgjourney {
        margin-bottom: 8px;
    }

    .navbar {
        justify-content: flex-end;
        align-items: flex-end;
    }

    .navbar-toggler {
        justify-content: flex-end;
        align-items: flex-end;
    }

    .instansi {
        height: auto;
    }

    .year {
        height: auto;
    }
}

.title4 {
    display: block;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 186px;
    height: 45px;
    font-size: 36px;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313131;
}

.separator2 {
    width: 200px;
    height: 4px;
    background-color: #ff7676;
}

.education {
    padding-top: 12px;
    background-color: #ffffff;
    background-size: cover;
    height: auto;
}

.container5 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 3rem;
    height: auto;
}

.instansi {
    height: 1rem;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    color: #313131;
    text-align: center;
}

.year {
    height: 1rem;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #313131;
    text-align: center;
}

.quotes {
    margin-top: 2rem;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #313131;
    text-align: center;
}

.contentbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 8px;
    width: 243px;
    height: 90px;
    margin-bottom: 1rem;
}

.contentbox.education1 {
    background-color: #F8D1DB;
}

.contentbox.education2 {
    background-color: #FDC2CE;
}

.contentbox.education3 {
    background-color: #FCAEB4;
}

.contentbox.education4 {
    background-color: #F99A9C;
}


